@import "base/fonts";
@import "utilities/lists";

$font-awesome: "Awesome";
$font-brandonBld: "BrandonBold";
$font-brandonThin: "BrandonThin";
$font-brandonRegular: "BrandonRegular";
$font-mrEavesRegular: "MrEavesRegular";
$font-color: nth($colors, 13);
$bg-color: nth($colors, 7);
$hf-color: nth($colors, 12);
$nav-fontsize: nth($fontsize, 4);
$fot-fontsize: nth($fontsize, 2);
$hover-text: nth($colors, 2)
